@import url("./fonts/fonts.scss");
@import './colors.scss';

:root {
    font-family:  'Nekst', 'Gilroy';
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
  }

  .title {
    font-family: 'Nekst';
    font-weight: 900;
    margin-top: 214px;
    font-size: 54px;
    line-height: 90%;
    color: $black;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 1024px) {
    .title {
      margin-top: 100px;
      margin-bottom: 35px;
    }
  }

  @media screen and (max-width: 768px) {
    .title {
      margin-top: 64px;
    }
  }

  @media screen and (max-width: 320px) {
    .title {
      font-size: 34px;
      margin-top: 44px;
      margin-bottom: 32px;
      font-size: 34px;
      line-height: 90%;
    }
  }




