@import '../styles/colors.scss';

.button {
  padding: 14px 16px 12px;
  width: 100%;
  height: 68px;
  background: $orange;
  border-radius: 40px;
  border: none;
  font-family: 'Nekst';
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: $white;
  transition: background 0.1s linear;
}

.button:hover {
  background: $black;
}

.button:active {
  background: $gray;
}

.button:disabled {
  background: $orange_disabled;
}

.spinner {
  font-weight: 300;
}

@media screen and (max-width: 1024px) {
  .button {
    margin-top: 44px;
    margin-bottom: 120px;
  }
}

@media screen and (max-width: 768px) {
  .button {
    margin-bottom: 156px;
  }
}

@media screen and (max-width: 320px) {
  .button {
    margin-bottom: 64px;
    font-size: 22px;
    line-height: 20px;
  }
}