.data__label {
  font-family: 'Gilroy';
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #575757;
}

.data__text {
  font-family: 'Nekst';
  font-weight: 900;
  font-size: 54px;
  line-height: 90%;
  color: #575757;
}

@media screen and (max-width: 320px) {
  .data__label {
    font-size: 14px;
    line-height: 136%;
  }

  .data__text {
    font-size: 22px;
    line-height: 20px;
  }
}
